[submodule "skins/Tweeki"]
	path = skins/Tweeki
	url = https://github.com/thaider/Tweeki
[submodule "extensions/InputBox"]
	path = extensions/InputBox
	url = https://github.com/wikimedia/mediawiki-extensions-InputBox
